@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  [data-theme] {
    --primary: theme(colors.base-100);
    --secondary: theme(colors.primary);
    @apply font-sans text-white bg-base-100;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
}

@layer components {
  .btn {
    @apply rounded-none;
  }

  .navbar {
    @apply p-0;

    .menu {
      @apply text-base;

      li {
        a {
          transition-property: text-shadow, color;
          @apply text-neutral-400 font-medium text-shadow-0 shadow-blue-500 ease-in-out duration-150;

          &:focus,
          &:hover,
          &:active,
          &.active {
            @apply outline-none bg-transparent text-shadow-lg text-white;
          }
        }
      }
    }
  }

  .footer-bg {
    background: rgb(17, 64, 90);
    background: -moz-radial-gradient(at bottom, rgb(17, 64, 90) 10%, rgb(25, 25, 25) 45%);
    background: -webkit-radial-gradient(at bottom, rgb(17, 64, 90) 10%, rgb(25, 25, 25) 45%);
    background: radial-gradient(at bottom, rgb(17, 64, 90) 10%, rgb(25, 25, 25) 45%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11405a",endColorstr="#191919",GradientType=1);
  }
}
